@import './_tiles';
@import './_mockup';
@import './_carousel';
@import './_features';

.chronery {

  .about-chronery {
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    .feature {
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    .tile-title {
      //font-size: 1.5rem;
    }
  }

  .chronery-notebook-container {
    text-align: center;
  }

  .chronery-notebook {
    width: 80%;
    max-height: 500px;
  }
}