.chronery {
  .mockups {

    .title {
      padding-bottom: 1rem;
    }

    .mockup-selection {
      display: flex;
      padding-bottom: 2rem;

      .btn-group {
        margin: 0 auto;
      }
    }

    #carouselSmartphone {
      $carousel-notebook-width: 224px;
      .mockup-carousel {
        max-width: $carousel-notebook-width;
      }
      .owl-carousel .owl-item img {
        width: $carousel-notebook-width;
      }

      .mockup-phone-img {
        max-width: 250px;
        transform: translate3d(0, -33.3rem, 0);
      }
    }
    #carouselNotebook {
      $carousel-notebook-width: 320px;
      .mockup-carousel {
        max-width: $carousel-notebook-width;
      }
      .owl-carousel .owl-item img {
        width: $carousel-notebook-width;
      }

      .mockup-phone-img {
        max-width: 420px;
        transform: translate3d(0, -19.36rem, 0);
      }
    }

    .mockup-carousel {
      margin: 3rem auto 0 auto;

      .owl-item:hover {
        cursor: pointer;
      }
    }

    .carousel-arrow {
      height: 100%;
      width: 100%;
      font-size: 5rem;
      background-color: inherit;
      transition: background-color .3s, color .3s;

      &:focus {
        box-shadow: none;
      }
    }

    .mockup-text-container {
      @include flex-center;
    }

    .mockup-text {
      @include background-styled;
      padding: 1.5rem 2rem;
    }

    .mockup-phone {
      position: relative;
    }

    .mockup-phone-img {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .hide-mockup {
      visibility: hidden !important;
      height: 0 !important;
      opacity: 0 !important;
    }

    @include media-breakpoint-down(sm) {
      .mockup-text-container {
        padding-top: 1rem;

        .mockup-text {
          border-radius: 0;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .carousel-arrow {
        font-size: 2rem;
      }
      .container {
        max-width: none;
      }
    }

    @include media-breakpoint-only(md) {
      .carousel-arrow {
        font-size: 3rem;
      }
    }

    @include media-breakpoint-up(md) {
      .mockup-text {
        margin-right: 1rem;
      }

    }
  }
}