.chronery {
  .mockups {

    .mockup-carousel {
      max-width: 224px;
      margin: 3rem auto 0 auto;

      .owl-item:hover {
        cursor: pointer;
      }
    }

    .carousel-arrow {
      height: 100%;
      width: 100%;
      font-size: 5rem;
      background-color: inherit;
      transition: background-color .3s, color .3s;

      &:focus {
        box-shadow: none;
      }
    }

    .mockup-text-container {
      @include flex-center;
    }

    .mockup-text {
      @include background-styled;
      padding: 1.5rem 2rem;
    }

    .mockup-phone {
      position: relative;
    }

    .mockup-phone-img {
      max-width: 250px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translate3d(0, -33.3rem, 0);
    }

    @include media-breakpoint-down(sm) {
      .mockup-text-container {
        padding-top: 1rem;

        .mockup-text{
          border-radius: 0;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .carousel-arrow {
        font-size: 2rem;
      }
      .container {
        max-width: none;
      }
    }

    @include media-breakpoint-only(md) {
      .carousel-arrow {
        font-size: 3rem;
      }
    }

    @include media-breakpoint-up(md) {
      .mockup-text {
        margin-right: 1rem;
      }

    }
  }
}