.chronery {
  .mockups {
    margin-bottom: 3rem;
    $carousel-smartphone-width: 150px;

    @include media-breakpoint-up(lg) {
      $carousel-notebook-width: 300px;
    }

    .title {
      padding-bottom: 1rem;
    }

    .mockup-selection {
      display: flex;
      padding-bottom: 2rem;

      .btn-group {
        margin: 0 auto;

        .btn {
          min-width: 100px;
        }
      }
    }

    #carouselSmartphone {
      @include media-breakpoint-up(md) {
        transform: translate3d(0, 2.5rem, 0)
      }
      .mockup-carousel {
        max-width: $carousel-smartphone-width;
      }
      .owl-carousel .owl-item img {
        max-width: $carousel-smartphone-width;
      }

      .mockup-phone-img {
        max-width: 166px;
        transform: translate3d(0, -24.4rem, 0);
      }
    }
    #carouselNotebook {
      .mockup-carousel, .owl-carousel .owl-item img {
        max-width: 200px;
      }

      .mockup-phone-img {
        max-width: 262px;
        transform: translate3d(0, -14.5rem, 0);
      }

      @include media-breakpoint-only(sm) {
        .mockup-carousel, .owl-carousel .owl-item img {
          max-width: 220px;
        }
        .mockup-phone-img {
          max-width: 288px;
          transform: translate3d(0, -15.35rem, 0);
        }
      }
      @include media-breakpoint-up(md) {
        .mockup-carousel, .owl-carousel .owl-item img {
          max-width: 250px;
        }
        .mockup-phone-img {
          max-width: 327px;
          transform: translate3d(0, -16.5rem, 0);
        }
      }

      @include media-breakpoint-up(lg) {
        .mockup-carousel, .owl-carousel .owl-item img {
          max-width: 300px;
        }
        .mockup-phone-img {
          max-width: 392px;
          transform: translate3d(0, -18.5rem, 0);
        }
      }
    }

    .mockup-carousel {
      margin: 3rem auto 0 auto;

      .owl-item:hover {
        cursor: move;
      }
    }

    .carousel-arrow {
      height: 100%;
      width: 100%;
      font-size: 5rem;
      background-color: inherit;
      transition: background-color .3s, color .3s;

      &:focus {
        box-shadow: none;
      }
    }

    .mockup-text-container {
      @include flex-center;
    }

    .mockup-text {
      @include background-styled;
      padding: 1.5rem 2rem;
    }

    .mockup-phone {
      position: relative;
    }

    .mockup-phone-img {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .hide-mockup {
      visibility: hidden !important;
      height: 0 !important;
      opacity: 0 !important;
    }

    @include media-breakpoint-down(sm) {
      $carousel-notebook-width: $carousel-smartphone-width;
      .mockup-text-container {
        padding-top: 1rem;

        .mockup-text {
          border-radius: 0;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .carousel-arrow {
        font-size: 2rem;
      }
      .container {
        max-width: none;
      }
    }

    @include media-breakpoint-only(md) {
      .carousel-arrow {
        font-size: 3rem;
      }
    }

    @include media-breakpoint-up(md) {
      .mockup-text {
        margin-right: 1rem;
      }

    }
  }
}