.contact-me {
  .contact-me-container {
    //padding: 2rem;

    .form-group {
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .form-control {
      background-color: map-get($theme-colors, light);
      border: none;
      color: white;
      font-size: 1.1rem;
      padding: 1rem 2rem;
      transition: transform .6s;

      &::placeholder {
        color: $body-bg;
      }

      &:focus {
        box-shadow: none;
        outline: 0 none;
        transform: scale(1.025);
      }
    }
    .contact-message {
      height: 100%;

      .form-control {
        height: 100%;
      }
    }
    .contact-submit {
      font-size: 1.1rem;
      color: $body-bg;
      padding: 1rem;
      margin: 2rem 1rem;
      transition: transform .6s;

      &:focus {
        box-shadow: none;
        outline: 0 none;
        transform: scale(1.025);
      }
    }
  }
}