.footer {
  background-color: map-get($theme-colors, light);
  padding: 3rem 2rem;
  color: $body-bg;

  .title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
  }

  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-group {
    margin-bottom: 2rem;

    .form-control.error {
      border: 1px solid map_get($theme-colors, danger);
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:focus + label.error {
        transform: scale(1.025);
      }
    }
    label.error {
      width: 100%;
      font-size: .8rem;
      padding: .5rem;
      color: map_get($theme-colors, danger);
      background-color: $body-bg;
      border: 1px solid map_get($theme-colors, danger);
      border-top: none;
      border-radius: 0 0 $border-radius $border-radius;
      transition: transform .6s;
    }
  }

  .form-control {
    background-color: $body-bg;
    border: none;
    color: black;
    font-size: 1.1rem;
    padding: 1rem;
    transition: transform .6s;

    &::placeholder {
      color: map-get($theme-colors, light);
    }

    &:focus {
      background-color: $body-bg;
      box-shadow: none;
      outline: 0 none;
      transform: scale(1.025);
    }
  }

  .contact-submit {
    font-size: 1.1rem;
    background-color: $body-bg;
    color: map-get($theme-colors, light);
    transition: all .3s;
    padding: 0;
    // for animation
    height: 63px;
    overflow: hidden;

    &:hover {
      box-shadow: none;
      outline: 0 none;
      transform: scale(1.025);
    }

    span {
      display: block;
      padding: 1rem;
      transition: .3s;
    }
    .normal {
      margin-top: 0;
    }
    .loading {
      margin-top: -3.5rem;
    }
    .sent {
      margin-top: -7.1rem;
    }
  }

  .contact-details {
    font-size: 1.1rem;
    padding: 0 2rem;
    text-align: justify;
    &:before {
      content: open-quote;
    }
    &:after{
      content: close-quote;
    }
  }
  .email {
    text-align: center;
  }

  .me {
    display: block;
    margin: 0 auto;
    border: 4px solid $body-bg;
    border-radius: 50%;
    z-index: 100;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-bottom: 1rem;
  }

  .external-links a {
    display: inline-block;
    width: 70px;
    height: 70px;
    justify-content: center;
    border: 4px solid $body-bg;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    color: $body-bg;
    padding: .8rem;
    margin: 0 1rem 1rem 0;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.05);

      a {
        text-decoration: none;
      }
    }
  }

  .copyright {
    margin-top: 3rem;
    padding: 0;
    font-size: .75rem;
    color: $body-bg;

    a {
      color: inherit;
    }
  }
}

