$animation-duration: .3s;

.is-hidden {
  visibility: hidden;
  transform: translate3d(0, 20px, 0);
}

.fade-in {
  visibility: visible;
  animation: fade-in .6s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin background-styled {
  text-align: center;
  color: white;
  background-color: map-get($theme-colors, light);
  border-radius: $border-radius;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

@mixin scale{
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition: all $animation-duration;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
}