.header {
  //position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./../img/header.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 100vh;

  .header-container {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: $border-radius;
  }

  .header-title {
    font-family: "Poiret One";
    font-size: 9rem;
    padding: 8rem 0;
    color: $body-bg;
    small {
      font-size: 0.4em;
    }
  }

  .more-container {
    margin-top: 3rem;

    .btn {
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 50%;
      animation: float 3s infinite alternate;

      &:hover {
        //background-color: map-get($theme-colors, "primary");
      }
    }

    .btn-link {
      color: $body-bg;
    }
  }
}

@include media-breakpoint-between(xs, sm) {
  .header {
    padding: 8rem 1rem;
    width: auto;

    .header__title {
      width: auto;
    }

    h1 {
      font-size: 3.5rem;
      padding-left: 0;
      padding-right: 0;

      small {
        font-size: 0.3em;
      }
    }
  }
}

// Animations
@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 10px, 0);
  }
}