.header {
  //position: fixed;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //left: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./../img/header.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  min-height: 110px;
  //overflow: hidden;

  &:before {
    content: "";
    background: rgba(#000, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 400ms;
  }
  &.fixme {
    &:before {
      background: rgba(#000, 0.35);
    }
  }

  .header-inner {
    z-index: 1;
  }

  .header-container {
    width: 80vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    font-size: 9rem;
    color: $body-bg;
    small {
      font-size: 0.4em;
    }
  }

  .more-container {
    margin-top: 3rem;

    .btn {
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 50%;
      animation: float 3s infinite alternate;
      //transition: transform .3s;

      &:hover {
        //animation: paused;
      }

      //&:focus {
      //  animation: paused;
      //  transition: transform .3s;
      //  transform: scale(1.2);
      //}
    }

    .btn-link {
      color: $body-bg;
    }
  }
}

@include media-breakpoint-between(xs, sm) {
  .header {
    //padding: 8rem 1rem;
    width: auto;

    .header-container {
      width: 90vw;
    }

    .header__title {
      width: auto;
    }

    .header-title {
      font-size: 3.5rem;
      padding-left: 0;
      padding-right: 0;

      small {
        font-size: 0.5em;
      }
    }
  }
}

// Animations
@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 10px, 0);
  }
}