.section {
  height: 100vh;
  padding-top: 4rem;

  .title {
    font-size: 6rem;
    //text-shadow: 1px 2px 5px #000;
    text-align: center;
    //text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);

  }

}

@include media-breakpoint-between(xs, sm) {
  .section {
    padding-top: 3rem;
    .title {
      font-size: 3rem;
    }

  }
}