.section {

  .title {
    font-size: 6rem;
    text-align: center;
    padding: 3rem;
    word-wrap: break-word;
  }

  &:last-of-type {
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-between(xs, sm) {
  .section {
    .title {
      font-size: 4rem;
    }

  }
}