.section {

  .title {
    font-size: 6rem;
    text-align: center;
    padding: 3rem;
  }
}

@include media-breakpoint-between(xs, sm) {
  .section {
    padding-top: 3rem;
    .title {
      font-size: 4rem;
    }

  }
}