.tile {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .tile-title {
    color: $body-bg;
    font-size: 3rem;
    padding: 2rem 0 1rem 0;
  }
  .btn-secondary {
    color: white;
  }

  .in-development {

  }
}

.tile:nth-of-type(odd) {
  background-color: map-get($theme-colors, primary);
  border-radius: $border-radius 0 0 $border-radius;
}

.tile:nth-of-type(even) {
  background-color: map-get($theme-colors, light);
  border-radius: 0 $border-radius $border-radius 0
}

@include media-breakpoint-between (xs, sm) {
  .tile:first-of-type {
    border-radius: $border-radius $border-radius 0 0;
  }

  .tile:last-of-type {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .tile {
    border-radius: 0;
  }
}