.tiles-container {
  a {
    &:hover {
      text-decoration: none;
    }
    .tile:hover {
      transform: scale(1.025);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
  }
  .tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include background-styled;
    margin-bottom: 2rem;

    .tile-title {
      color: $body-bg;
      font-size: 3rem;
      padding: 2rem 0 1rem 0;
    }

    .tile-inner-text {
      padding: 0 .5rem;
      @include flex-center;

      p:last-of-type {
        margin-bottom: 2rem;
      }
    }

    .btn-secondary {
      color: white;
    }
  }
}

@include media-breakpoint-between (xs, md) {
  .tiles-container {
    flex-direction: column;

    .tile {
      width: 100%;
    }
  }
}