$timeline-color: map-get($theme-colors, light);
$timeline-content-color: map-get($theme-colors, primary);
$timeline-content-color: #484C2F;
$line-color: map-get($theme-colors, light);

// Mixins and Placeholders
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 1rem;
  @include prefix(transition, all .4s ease);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: $line-color;
    //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $line-color;
      color: white;
      width: 70px;
      height: 70px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -33px;
      z-index: 100;
      border: 4px solid white;
      border-radius: 50%;
      font-size: 1.75rem;
      @include prefix(box-shadow, 0 1px 6px rgba(0, 0, 0, 0.175));

      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;

      &.is-hidden {
        visibility: hidden;
        transform: scale(0);
      }
    }

    .timeline-content {
      width: 45%;
      background: $line-color;
      padding: 1.5rem;
      text-align: center;
      @include prefix(box-shadow, 0 1px 6px rgba(0, 0, 0, 0.175));
      @include prefix(border-radius, $border-radius);
      @include prefix(transition, all .3s ease);

      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;

      &.is-hidden {
        visibility: hidden;
        transform: translate3d(0, 20px, 0);
      }

      .timeline-title {
        color: $body-bg;
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        color: white;
      }
    }

    &:nth-child(even) .timeline-content {
      float: right;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .timeline-img {
      display: block;
      margin: 0 auto;
      border: 4px solid $line-color;
      border-radius: 50%;
      z-index: 100;
      @include prefix(box-shadow, 0 1px 6px rgba(0, 0, 0, 0.175));
      @include prefix(transition, all .3s ease);

      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;

      &.is-hidden {
        visibility: hidden;
        transform: translate3d(0, 20px, 0);
      }
    }
  }
}

@include media-breakpoint-between(xs, md) {
  .timeline {
    &:before {
      left: 26px;
    }
    .timeline-item {
      .timeline-icon {
        left: 10px;
      }

      .timeline-content {
        width: 80%;
        float: right;
      }
    }
  }
}

.bounce-in {
  visibility: visible;
  animation: timeline-bounce .6s;
}

@keyframes timeline-bounce {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.fade-in {
  visibility: visible;
  animation: timeline-fade-in .6s;
}

@keyframes timeline-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}