.try-out {
  margin: 5rem 0;

  .btn-call-to-action {
    @include box-shadow;
    @include scale;
    padding: 2rem;
  }

  @include media-breakpoint-only(xs) {
    border-radius: 0;
  }

  @include media-breakpoint-up(md) {
    .btn-call-to-action {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}