.try-out {
  margin: 5rem 0;
  text-align: center;
  .container {

  }

  .btn-call-to-action {
    white-space: pre-wrap;
    word-break: break-word;
    @include box-shadow;
    @include scale;
    font-size: 1.3rem;
    //background-color: map-get($theme-colors, secondary);
    background-color: #009688;
    border-color: #009688;
    color: white;
    text-transform: uppercase;
    padding: 2rem;

    @include media-breakpoint-only(sm) {
      font-size: 1.6rem;
    }

    @include media-breakpoint-only(md) {
      font-size: 2rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }
}
