@import '_custom';
@import '_global.scss';
@import '_header';
@import '_section';
@import '_timeline';
@import '_tiles';
@import '_footer';
@import '_contact-me';
@import 'chronery/chronery';

$fa-font-path: "~@fortawesome/fontawesome-pro-webfonts/webfonts";
@import '~@fortawesome/fontawesome-pro-webfonts/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-pro-webfonts/scss/fa-light.scss';

h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One";
  letter-spacing: .2rem;
}

h3 {
  color: $body-bg;
  font-size: 3rem;
}

html, body {
  font-size: 1.05rem;
}

.to-fade-in {
  transition: transform .3s ease;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  &.is-hidden {
    visibility: hidden;
    transform: translate3d(0, 20px, 0);
  }
}

@include media-breakpoint-between(xs, sm) {
  .theappfield .tiles-container .row .col-xs-12:nth-child(odd) {
    padding-bottom: 2rem;
  }
}