$owl-image-path: "~owl.carousel/src/img/";
@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';

@import '_custom';
@import '_global';
@import '_animations';
@import '_header';
@import '_section';
@import '_timeline';
@import '_tiles';
@import '_footer';
@import '_contact-me';
@import '_try-out';
@import 'chronery/chronery';

$fa-font-path: "~@fortawesome/fontawesome-pro-webfonts/webfonts";
@import '~@fortawesome/fontawesome-pro-webfonts/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-pro-webfonts/scss/fa-light.scss';

h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One";
  letter-spacing: .2rem;
}

h3 {
  //color: $body-bg;
  //font-size: 3rem;
}

html, body {
  font-size: 1.05rem;
}

@include media-breakpoint-between (xs, sm) {
  .row .col-xs-12:nth-child(odd) {
    padding-bottom: 2rem;
  }
}