@import '_custom.scss';
@import '_header.scss';
@import '_section.scss';
@import '_timeline.scss';
@import '_tiles.scss';
@import '_footer.scss';
@import 'contact-me';

$fa-font-path: "~@fortawesome/fontawesome-pro-webfonts/webfonts";
@import '~@fortawesome/fontawesome-pro-webfonts/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-pro-webfonts/scss/fa-light.scss';

h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One";
  letter-spacing: .2rem;
}

html, body {
  font-size: 1.05rem;
}

@include media-breakpoint-between(xs, sm) {
  .row .col-xs-12:nth-child(odd) {
    padding-bottom: 2rem;
  }
}